---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
{% include base_path %}
**Instructor, Rotman School of Management** 
(BBA Core) RSM 222: Management Accounting 
Evaluation: 4.8 / 5.0 (department average: 4.0 / 5.0)  

Selected comments
> I love the instructor's enthusiasm for her course and research. She's one of the best instructors I've had at U of T.
> Basically every concept is understandable through the instructor's communication
> This course was of high quality, and the learning experience was very interesting. She made the class very engaging and the in class assignments were very insightful and practical.
> Very thorough and gave time to students to ask questions. She provided answers to any questions we had.


I developed a case study that showcases the step-by-step process of performing data visualizations using Tableau. This case equips students with the necessary skills to effectively analyze a company's sales and cost data, enabling them to make informed decisions based on accurate insights derived from the data visualizations.
[Case](https://stacey-choy.github.io/files/UPLOAD Ubor Technologies Case Instruction.docx).  





<!-- {% include base_path %} -->

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
